--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.*
torchvision==0.22.*
torchaudio==2.7.*

transformers==4.44.2
datasets==2.20.0
peft==0.12.0
bitsandbytes==0.48.0
accelerate==0.34.2
sentencepiece==0.2.0
rouge-score==0.1.2
nltk==3.9.1
bert-score==0.3.13
textstat==0.7.3
matplotlib==3.9.2
seaborn==0.13.2
pandas==2.2.3
scikit-learn==1.5.2
tensorboard==2.17.0
evaluate==0.4.2
safetensors
jupyter
ipykernel